<h1>Listing feeds</h1>

<table class="table table-striped">
  <tr>
    <th>Feed</th>
    <th>Feed URL</th>
    <th>Last modified</th>
    <th>Added on</th>
    <th>Fetched OK?</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @feeds.each do |feed| %>
  <tr>
    <td><% if feed.title %>
          <%= link_to feed.title, feed.site_url %>
        <% else %>
          <em>(Unknown)</em>
        <% end %>
    </td>
    <td><%= link_to "XML feed", feed.url %></td>
    <td><%= feed.last_modified %></td>
    <td><%= feed.created_at %></td>
    <td><%= feed.fetched_ok %></td>
    <td><%= link_to 'Edit', edit_feed_path(feed) %></td>
    <td><%= link_to 'Destroy', feed, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Add feed', new_feed_path %> | <%= link_to "Bulk feed creation", feeds_bulk_new_path %> | <%= link_to "Export feed list", feeds_export_path %>
