<p id="notice"><%= notice %></p>

<p>
  <b>Url:</b>
  <%= @feed.url %>
</p>

<p>
  <b>Title:</b>
  <%= @feed.title %>
</p>

<p>
  <b>Etag:</b>
  <%= @feed.etag %>
</p>

<p>
  <b>Last modified:</b>
  <%= @feed.last_modified %>
</p>


<%= link_to 'Edit', edit_feed_path(@feed) %> |
<%= link_to 'Back', feeds_path %>
