<h1>Photolesce</h1>

<div class="container">
  <% @entries.each do |entry| %>
    <div class="entry">
      <h2><%= entry.title %></h2>
      <h3><%= link_to entry.feed.title, entry.feed.url %></h3>
      <a href='<%= entry.link %>'>
        <%= image_tag(entry.content) %>
      </a>
    </div>
  <% end %>

  <% if @page > 1 %>
    <%= link_to raw("&larr; Previous"), root_path(page: @page-1) %>
  <% end %>

  <% if @next_page %>
    <%= link_to raw("Next &rarr;"), root_path(page: @page+1) %>
  <% end %>
</div>

