<div class="container">
  <% @entries.each_with_index do |entry, i| %>
    <div class="entry">
      <a name="entry<%=i+1%>"></a>
            <div class="entry-body">
              <a href='<%= entry.link %>' title="<%= entry.title %>, from <%= entry.feed.title %>">
          <!-- <%= image_tag(entry.content) %> -->
          <img
            data-src="<%= entry.content %>"
            src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==
            onload=lzld(this) onerror=lzld(this) />
        </a>
      </div>

      <div class="entry-footer">
        <span class="entry-title"><%= entry.title %></span>
        <span class="published-time"><a href="/?page=<%=params[:page]%>#entry<%=i+1%>"><%= time_ago_in_words(entry.published) %></a></span>
      </div>
    </div>
  <% end %>

  <div id="pagination">
    <% if @page > 1 %>
      <%= link_to raw("&larr; Previous"), root_path(page: @page-1) %>
    <% end %>

    <% if @next_page %>
      <%= link_to raw("Next &rarr;"), root_path(page: @page+1) %>
    <% end %>
  </div>
</div>

